@charset "utf-8";
body {
	height:100vh;
	background: #9053c7;
	background: -webkit-linear-gradient(135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(135deg, #c850c0, #4158d0);
	background: linear-gradient(135deg, #c850c0, #4158d0);
	margin: 0;
	font-family: '微软雅黑', '宋体', sans-serif;
	overflow: hidden;
}

* {
	padding: 0;
	margin: 0;
}
.a{
	color:#0000FF; /*设置文字颜色*/
	text-decoration: none;
	font-family:"微软雅黑";/*设置字体*/
	-webkit-animation: shine 5.4s infinite;/*设置动画*/
 }
 @-webkit-keyframes shine{/*创建动画*/
	 0%,100%{ color:#fff;text-shadow:0 0 10px #c850c0,0 0 10px #c850c0; }
	 50%{ text-shadow:0 0 10px #0000FF,0 0 40px #0000FF; }
 }
@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}
#content{
	text-indent: 2em;
}
#contentLong .contentLongP{
	text-indent: 2em;
}
.contentLast{
	text-align: right;
}
.contentLast::after {
	content: '💜';
	/* color:#7F00FF; */
	animation: blink 1000ms infinite;
}
#content::after {
  content: '💜';
  /* color:#7F00FF; */
  animation: blink 1000ms infinite;
}
.Open{
	position: fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-200%);
	z-index: 1001;
}
.card{
	position: fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	width:0;
	height:0;
	border-top:100px solid #eee;
	border-top-left-radius:10px;
	  border-top-right-radius:10px;
	  border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom:100px solid #ccc;
	border-right:170px solid #ddd;
	border-left:170px solid #ccc;
  }
  /* .heart{
	position: fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  width:32px;
	height:32px;
	background-color:#ff3838;
	transform:translate(580%,-20%) rotate(45deg);
	animation:beat 1s linear infinite;
	z-index: 1000;
  }
  .heart:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#FF3838;
	border-radius:50px;
	transform:translateY(-50%);
	
  }
  
  .heart:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#FF3838;
	border-radius:50px;
	transform:translateX(-50%);
	
  }
  @keyframes beat{
	0%{
	  transform:translate(580%,-20%) rotate(45deg)scale(1.2);
	}
	 10%{
	  transform:translate(580%,-20%) rotate(45deg)scale(1.3);
	}
	  20%{
	  transform:translate(580%,-20%) rotate(45deg)scale(1.4);
	}
  } */
.imgWrap{
	width:60px;
	position: fixed;
	right:20px;
	top:10px;
	height: 60px;
}
.imgWrap img{
	width:100%;
	height: 100%;
}
.imgWrap {
	animation: rotate 20s linear infinite;
  }
  
@keyframes rotate {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}
.chest {
	width:50px;
	height:50px;
	margin:0 auto;
	position: fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.heart {
	position: absolute;
	z-index: 1002;
	/* background:linear-gradient(-90deg,#CC66FF 0%,#9933CC 40%); */
	background: #8d3f87;
	animation: beat 0.7s ease infinite;
}

.heart.center {
	/* background: linear-gradient(-45deg,#8d3f87 0%,#9933CC 40%); */
	background: #8d3f87;
	z-index: 1003;
}

.heart.top {
	z-index: 3;
}

.side {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	top:10px;

}

.center {
	width:21px;
	height:21px;
	bottom:10px;
	left:14.5px;

}

.left {
	left:6.2px;
}
.right {
	right:6.2px;
}

@keyframes beat {
	0% {
		transform: scale(1) rotate(225deg);
		box-shadow: 0 0 40px #9933CC;
	}   

	50% {
		transform: scale(1.1) rotate(225deg);
		box-shadow: 0 0 40px #9933CC;
	}

	100% {
		transform: scale(1) rotate(225deg);
		box-shadow: 0 0 40px #9933CC;
	}
}
.mb-box {
	width: 100%;
	height: auto;
	padding: 5px;
	position: absolute;
	top: 8%;
	left:50%;
	transform: translate(-50%);
	/* left: 48.5%;
	margin-left: -208px; */
	z-index: 999999;
	overflow: hidden;
}

.bb {
	margin: 0 auto;
	width: 90%;
	height: 80%;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #999;
	overflow: hidden;
}

.bb h2 {
	margin: 0 15px;
	width: 280px;
	font-size: 30px;
	text-align: left;
	color: #FE2E2E;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bb_text {
	height: auto;
	min-height: 180px;
	height: 70vh;
	padding: 10px 15px;
	line-height: 28px;
	font-size: 16px;
	color: #fff;
	overflow: auto;
}

.bb_myname {
	text-align: right;
	padding: 0px 20px 10px;
	font-size: 20px;
	line-height: 30px;
	color: #3ADF00;
}

/*滚动条样式*/
.bb_text::-webkit-scrollbar {
	width: 4px;
	/*height: 4px;*/
}

.bb_text::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}

.bb_text::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(0, 0, 0, 0.1);

}
/*滚动条样式*/
